.changepass {
  //margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  &__pass {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8rem 2rem;
    font-size: 1.5rem;
  }

  &__img {
    width: 10rem;
  }

  &__form {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;

    *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .changepass {
    &__pass {
      width: 70%;
    }

    &__form {
      width: 90%;
    }

    &__img {
      width: 6rem;
    }
  }
}

@media only screen and (max-width: 428px) {
  .changepass {
    &__pass {
      width: 90%;
      font-size: 1rem;
    }

    &__form {
      width: 90%;
    }

    &__img {
      width: 5rem;
    }
  }
}
