@import "../../App.scss";

.input {
  width: 90%;
  padding: 2rem 1rem;
  border-radius: 10px;
  border: 1px solid $secondary__white;
}

@media only screen and (max-width: 768px) {
  .input {
    padding: 1.5rem 1rem;
  }
}

@media only screen and (max-width: 428px) {
  .input {
    font-size: 0.9rem;
    padding: 1.2rem 2rem;
  }
}
