@import "../../App.scss";

.home {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  font-size: 1.2rem;

  //upper
  &__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  //lower
  &__lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .home {
    &__upper {
      max-width: 750px;
    }

    &__lower {
      max-width: 750px;
    }
  }
}

@media only screen and (max-width: 426px) {
  .home {
    //upper
    &__upper {
      flex-direction: column;
    }

    //lower
    &__lower {
      flex-direction: column;
    }
  }
}
